* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main-section {
    background-image: url("../Assets/Discord\ Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    /* border:2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.logo-img {
    /* border: 2px solid black; */
    width: 150px;
    /* background-color: black; */
}

.nav-links {
    display: flex;
    /* border: 2px solid black; */
    gap: 30px;
    list-style-type: none;
    font-weight: 800;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.open-disc-btn {
    padding: 0.5rem 1rem;
    border-radius: 40px;
    background-color: white;
    border: none;
    transition: all 0.3s ease;
}

.open-disc-btn:hover {
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    color: blue;
}

.hero {
    height: 85vh;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.hero p {
    /* border: 2px solid black; */
    width: 800px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.btns {
    display: flex;
    gap: 1rem;
}

.download-btn {
    padding: 1rem 2rem;
    border-radius: 40px;
    background-color: white;
    border: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.download-btn:hover {
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    color: blue;
}

.open-disc-brows-btn {
        padding: 1rem 2rem;
    border-radius: 40px;
    background-color: black;
    border: none;
    font-size: 1.2rem;
    color: white;
    transition: all 0.3s ease;
}

.open-disc-brows-btn:hover {
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.section-1 {
    /* border: 2px solid black; */
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    gap: 2rem;
}

.sec-1-img {
    width: 600px;
}

.sec-1-content {
    /* border: 2px solid black; */
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sec-1-content h2 {
    font-size: 2.5rem;
}

.sec-1-content p {
    font-size: 1.25rem;
}

.section-2 {
    /* border: 2px solid black; */
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    gap: 2rem;
}

.sec-2-img {
    width: 600px;
}

.sec-2-content {
    /* border: 2px solid black; */
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sec-2-content h2 {
    font-size: 2.5rem;
}

.sec-2-content p {
    font-size: 1.25rem;
}

.section-3 {
    /* border: 2px solid black; */
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    gap: 2rem;
}

.sec-3-img {
    width: 600px;
}

.sec-3-content {
    /* border: 2px solid black; */
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sec-3-content h2 {
    font-size: 2.5rem;
}

.sec-3-content p {
    font-size: 1.25rem;
}

.section-4 {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 2rem;
}

.sec-4-content {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 900px;
    gap: 2rem;
}

.sec-4-content h2 {
    font-weight: 800;
    font-size: 2rem;
}

.sec-4-img {
    width: 1100px;
}